.erd-container {
  position: relative;
}

.erd-container svg {
  border: 1px solid black;
}

.erd-actions i {
  display: inline-block;
  cursor: pointer;
  position: relative;
  vertical-align: bottom;
  overflow: hidden;
  max-height: 20px;
  padding: 10px;
  background: #F7F7F7;
  border: 1px solid black;
  border-left: 0;
  border-bottom: 0;
  transition: .2s;
}

.erd-actions i:hover, .erd-actions i.active {
  background: white;
}

.erd-actions i:before {
  content: " ";
  display: inline-block;
  vertical-align: top;
  background-position-x: 5px;
  width: 30px;
  height: 20px;
}

.erd-actions i:last-child {
  border-top-right-radius: 10px;
}

.erd-actions i:first-child {
  border-left: 1px solid black;
}

.erd-search:before {
  background: url('../images/ic_search_black_24px.svg') 0 no-repeat;
}

.erd-search.active {
  overflow: inherit;
}

.erd-search input {
  display: inline-block;
  font-style: normal;
  vertical-align: top;
  margin-left: 10px;
}

.erd-label:before {
  background: url('../images/ic_label_outline_black_24px.svg') 0 no-repeat;
}

.erd-zoom:before {
  background: url('../images/ic_zoom_in_black_24px.svg') 0 no-repeat;
}

.erd-unzoom:before {
  background: url('../images/ic_zoom_out_black_24px.svg') 0 no-repeat;
}

.erd-line-style:before {
  background: url('../images/ic_timeline_black_24px.svg') 0 no-repeat;
}

.erd-machine-name:before {
  background: url('../images/ic_face_black_24px.svg') 0 no-repeat;
}

.erd-machine-name.active:before {
  background: url('../images/ic_android_black_24px.svg') 4px no-repeat;
}

.erd-save:before {
  background: url('../images/ic_save_black_24px.svg') 0 no-repeat;
}

.erd-autocomplete-category {
  padding: 5px;
  font-weight: bold;
  border-bottom: 1px solid #a8a8a8;
}

.erd-container .element.erd:hover .remove-entity {
  display: inherit;
}

.erd-container .remove-entity {
  display: none;
  cursor: pointer;
}

.erd-container .remove-entity:hover svg {
  fill: white;
}

.erd-label .label {
  cursor: text;
}

.erd-container .element.erd .port {
  display: none;
}

.erd-container .element.erd:hover .port {
  display: inherit;
}

.erd-container .port-left {
  cursor: w-resize;
}

.erd-container .port-right {
  cursor: e-resize;
}

.erd-container .port-top {
  cursor: n-resize;
}

.erd-container .port-bottom {
  cursor: s-resize;
}
